@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Nova+Flat&display=swap');
.main-nav.nav.nav-pills.nav-fill {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0 !important;
}

.main-nav.nav.nav-pills.nav-fill > .nav-item > .navlink {
	padding: 0.9em 0.5em !important;
}
body {
	font-family: 'Nova Flat', 'Helvetica Neue', Arial, Helvetica, sans !important;
}
#jackpot_amount {
	font-family: 'Big Shoulders Display', 'Helvetica Neue', Arial, Helvetica, sans !important;
}
.main.nav-wrapper .main-nav a.active,
.main.nav-wrapper .main-nav a:hover,
.main.nav-wrapper .nav-item:hover .navlink {
	background: linear-gradient(0deg, #6d1d20 0%, #a12032 35%, #f32b4c 100%) !important;
}
.main.nav-wrapper .main-nav a.active,
.main.nav-wrapper .main-nav a:hover,
.main.nav-wrapper .nav-item:hover .nav-icon {
	filter: drop-shadow(2px 4px 6px black);
}
.main.nav-wrapper .nav-item-content {
	background-color: transparent !important;
	box-shadow: none !important;
	border-bottom: none !important;
}
.main.nav-wrapper .nav-item-content > .container {
	background: #390406dd;
	border-bottom: 15px solid #bf243b;
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
.main.nav-wrapper > .container {
	width: 100% !important;
	padding: 0 !important;
}
/* resize banner */
.carousel-fixed-height {
	position: relative !important;
	width: 100% !important;
	max-width: 1920px;
	padding-top: calc(100% * 613 / 1920) !important;
	margin: auto !important;
}
#carousel-fixed-height.carousel.slide {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
}
.carousel-inner[role='listbox'] {
	position: relative !important;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden !important;
}
.carousel-inner[role='listbox'] > .item {
	height: 100% !important;
}
.slider-size {
	max-height: none !important;
	min-height: 100% !important;
}
@media (min-width: 1920px) {
	.carousel-fixed-height {
		padding-top: 613px !important;
	}
}
